.container {
    max-width: 455px;
}

#box {
    max-width: 400px ;
    background-color: rgb(118,162,198, 0.5);
}


input {
    max-width: 280px;
}

button {
    max-width: 64px;
}


#ataa {
    max-width: 70%;
    overflow: hidden;
}

/* .cropped {
    margin: -30% 0% 0% -30%;
} */

p {
    text-align:center;
}

.section {
    background-color: rgb(120, 0, 0, .1);
}

.h5 {
    text-align:left;
}

hr {
    width: 70%;
    max-width: 300px;
}

