.container, footer {
    max-width: 455px;
}

#box {
    max-width: 400px ;
    background-color: rgb(118,162,198, 0.5);
}

@media (max-width: 600px) {
    #title {
        font-size: 45px;
    }
}
/*  */

input {
    max-width: 280px;
}

button {
    max-width: 64px;
}


#ataa {
    max-width: 65%;
    background-color: rgb(240, 191, 160);
}


p {
    text-align: center;
}

footer.small {
    font-size: smaller;
}

.section {
    background-color: rgba(237, 237, 237, 0.3);
}

.h5 {
    text-align:left;
    color: rgb(212, 87, 9);
}

hr {
    width: 70%;
    max-width: 300px;
}

.h3 {
    
    color:#1e65b0;
}

