main {
    max-width: 700px;
}
/* 

#tribute-info {
    max-width: ; */



.all {
    
}

#img-caption {
    font-size: 12px;
}

section > p {
    text-indent: 2em;
    /* line-height: 1.3em; */
    text-align: justify;
    font-size: 17px;
}

#title {
    width: auto;
}