.container {
    max-width: 455px;
}

#box {
    max-width: 400px ;background-color:#FCFFE9;
}

figure {
    opacity: .6;
}

input {
    max-width: 280px;
}

button {
    max-width: 64px;
}


#khalid {
    max-width: 70%;
}

p {
    text-align:center;
}

.section {
    background-color: rgb(120, 0, 0, .1);
}

.h5 {
    text-align:left;
}

hr {
    width: 70%;
}


/* style.css */

.alert-container {
    position: fixed;
    z-index: 10; 
    bottom: 10rem;
  }
  
  .alert-message {
    height: 50px;
    font-size: 1.2rem;
    margin-left: 110px;
    padding: 10px 15px;
    font-weight: bold;
    color: white;
    background-color: rgb(11, 87, 9, 0.6);
    border-radius: 18px;
    cursor: default;
  }
  
  .hidden {
    display: none;
  }