* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  background: whitesmoke;
}

body {
  text-align: center;
  line-height: 3;
  background: ghostwhite;
}

main {
  display:flex;
  flex-direction: column;
  margin: auto;
}

input {
  width: 30vw;
  height: 5vh;
  font-size: medium;
}

input[value] {
  text-align: center;
}

button {
  width: 3vw;
  height: 5vh;
}
